{% load active_link_tags %}
<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         {% if user.user_type == '1' %}
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li class="{% active_link 'hod_home' 'active' %}">
               <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i><span>Dashboard</span> </a>
            </li >

            <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
               <ul>

                  <li><a href="{% url 'add_student' %}">Add Student </a></li>
                  <li><a href="{% url 'view_student' %}">View Student </a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'add_staff' 'active' %} {% active_link 'view_staff' 'active' %}">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
                  <li><a href="{% url 'view_staff' %}">View Staff</a></li>

               </ul>
            </li>
            <li class="submenu {% active_link 'add_coures' 'active' %} {% active_link 'view_course' 'active' %}">
               <a href="#"><i class="fas fa-building"></i> <span> Coures </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_coures' %}">Add Coures </a></li>
                  <li><a href="{% url 'view_course' %}">View Coures </a></li>

               </ul>
            </li>
            <li class="submenu {% active_link 'add_subject' 'active' %} {% active_link 'view_subject' 'active' %}">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_subject' %}">Add Subject </a></li>
                  <li><a href="{% url 'view_subject' %}">View Subject </a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'add_session' 'active' %} {% active_link 'view_session' 'active' %}">
               <a href="#"><i class="fas fa-comment-dollar"></i> <span> Session</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_session' %}">Add Session </a></li>
                  <li><a href="{% url 'view_session' %}">View Session </a></li>
               </ul>
            </li>
            <li>
               <a href="{% url 'staff_send_notification' %}"><i class="fa fa-bell"></i> <span> Send Staff Notification</span></a>
            </li>
            <li>
               <a href="holiday.html"><i class="fa fa-bell"></i> <span> Send Student Notification</span></a>
            </li>
            <li>
               <a href="holiday.html"><i class="fa fa-calendar"></i> <span> View Attendance</span></a>
            </li>
            <li>
               <a href="holiday.html"><i class="fas fa-comments"></i> <span> Staff Feedback</span></a>
            </li>
            <li>
               <a href="holiday.html"><i class="fas fa-comments"></i> <span> Student Feedback</span></a>
            </li>
            <li>
               <a href="holiday.html"><i class="fas fa-envelope"></i> <span> Staff Leave</span></a>
            </li>
            <li>
               <a href="holiday.html"><i class="fas fa-envelope"></i> <span> Student Leave</span></a>
            </li>


            <li class="menu-title">
               <span>Management</span>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="fees-collections.html">Fees Collection</a></li>
                  <li><a href="expenses.html">Expenses</a></li>
                  <li><a href="salary.html">Salary</a></li>
                  <li><a href="add-fees-collection.html">Add Fees</a></li>
                  <li><a href="add-expenses.html">Add Expenses</a></li>
                  <li><a href="add-salary.html">Add Salary</a></li>
               </ul>
            </li>
            <li>
               <a href="holiday.html"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
            </li>
            <li>
               <a href="fees.html"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
            </li>
            <li>
               <a href="exam.html"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
            </li>
            <li>
               <a href="event.html"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
            </li>
            <li>
               <a href="time-table.html"><i class="fas fa-table"></i> <span>Time Table</span></a>
            </li>
            <li>
               <a href="library.html"><i class="fas fa-book"></i> <span>Library</span></a>
            </li>
            <li class="menu-title">
               <span>Pages</span>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Register</a></li>
                  <li><a href="forgot-password.html">Forgot Password</a></li>
                  <li><a href="error-404.html">Error Page</a></li>
               </ul>
            </li>
            <li>
               <a href="blank-page.html"><i class="fas fa-file"></i> <span>Blank Page</span></a>
            </li>
            <li class="menu-title">
               <span>Others</span>
            </li>
            <li>
               <a href="sports.html"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>
            </li>
            <li>
               <a href="hostel.html"><i class="fas fa-hotel"></i> <span>Hostel</span></a>
            </li>
            <li>
               <a href="transport.html"><i class="fas fa-bus"></i> <span>Transport</span></a>
            </li>
            <li><i class=""></i>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
            </li>


         </ul>
         {% elif user.user_type == '2' %}
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li class="{% active_link 'hod_home' 'active' %}">
               <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i><span>Dashboard</span> </a>
            </li >
            <li class="{% active_link 'hod_home' 'active' %}">
               <a href="{% url 'hod_home' %}"><i class="fas fa-calendar-alt"></i><span>Take Attendance</span> </a>
            </li >
            <li class="{% active_link 'hod_home' 'active' %}">
               <a href="{% url 'hod_home' %}"><i class=" fas fa-calendar-alt"></i><span>View/update Attendance</span> </a>
            </li >

            <li class="{% active_link 'hod_home' 'active' %}">
               <a href="{% url 'hod_home' %}"><i class="fas fa-poll-h"></i><span>Add Result</span> </a>
            </li >
            <li class="{% active_link 'hod_home' 'active' %}">
               <a href="{% url 'hod_home' %}"><i class="fas fa-envelope-open"></i><span>Apply For Leave</span> </a>
            </li >
            <li class="{% active_link 'hod_home' 'active' %}">
               <a href="{% url 'hod_home' %}"><i class="fas fa-comment"></i><span>Send Feedback</span> </a>
            </li >
            <li class="{% active_link 'notification' 'active' %}">
               <a href="{% url 'notification' %}"><i class="fas fa-bell"></i><span>Notification</span> </a>
            </li >
             <li><i class=""></i>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
            </li>
            </ul>
         {% else %}
         {% endif%}
      </div>
   </div>
</div>